---
import { Image } from "astro:assets";
import ImageOfMe from "../images/me.jpg";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Work from "../components/Work.astro";
import RecentPosts from "../components/RecentPosts.astro";

let socialMedia = [
  {
    url: "https://github.com/mikebcbc",
    icon: "fa6-brands:github",
    name: "GitHub",
  },
  {
    url: "https://www.linkedin.com/in/mikeconstantino1/",
    icon: "fa6-brands:linkedin",
    name: "LinkedIn",
  },
  {
    url: "mailto:mike@constantino.dev",
    icon: "fluent:mail-24-filled",
    name: "Email",
  },
  {
    url: "/Mike-Constantino-Resume.pdf",
    icon: "fluent:document-24-filled",
    name: "Resume",
  },
];
---

<Layout
  title="Mike Constantino"
  description="Hi! I'm Mike - software engineer based in Orlando, FL currently doing cool things for DigitalOcean."
>
  <section class={`card flex-grow flex flex-row `}>
    <div class="flex flex-row items-center justify-between gap-9 p-6">
      <div>
        <h1
          class="-ml-1 inline-block bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-clip-text font-display text-5xl font-semibold text-transparent"
        >
          Mike Constantino
        </h1>
        <h2 class="pt-4 text-2xl font-normal">
          software engineer coding for <a
            class="underline underline-offset-4 transition-all hover:text-primary"
            href="https://github.com/mikebcbc"
            target="_blank"
          >
            kicks
          </a> and <a
            class="underline underline-offset-4 transition-all hover:text-primary"
            href="https://digitalocean.com"
            target="_blank"
          >
            cash
          </a>
        </h2>
        <p class="text-md pt-4">
          I'm currently making waves at DigitalOcean 🌊, teaming up with the IAM crew to help make
          the cloud simple and accessible 🤙
        </p>
        <div class="mt-4 flex items-center justify-start">
          {
            socialMedia.map((sm) => (
              <a
                href={sm.url}
                target="_blank"
                class="mr-5 rounded-full transition-all hover:scale-105 hover:text-secondary xl:mr-6"
                title={sm.name}
              >
                <Icon
                  name={sm.icon}
                  class="h-6 w-full max-w-[1.25em] md:h-7 md:max-w-[1.5em]  xl:max-w-[1.75em]"
                />
              </a>
            ))
          }
        </div>
      </div>
      <div class="flex flex-shrink-0 flex-col justify-center">
        <Image alt="Picture of me" class="max-w-0 rounded-full sm:max-w-64" src={ImageOfMe} />
      </div>
    </div>
  </section>
  <div class="divider m-auto my-4 max-w-md">⦿</div>
  <section class="flex-none p-6">
    <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
      <RecentPosts />
      <Work />
    </div>
  </section>
</Layout>
